
.DS_Store
*.zip
bike-sharing-demand/data/*
bike-sharing-demand/submissions/*
jigsaw-toxic-comment-classification-challenge/data/*
jigsaw-toxic-comment-classification-challenge/submissions/*
digit-recognizer/data/*
digit-recognizer/submissions/*
sf-crime/data/*
sf-crime/submissions/*
titanic/data/*
titanic/submissions/*
word2vec-nlp-tutorial/data/*
word2vec-nlp-tutorial/submissions/*
sentiment-analysis-on-movie-reviews/data/*
sentiment-analysis-on-movie-reviews/submissions/*
*/.ipynb_checkpoints/*
*/__pycache__/*
