
.DS_Store
jigsaw-toxic-comment-classification-challenge/data/test.csv.zip
*.zip
bike-sharing-demand/submissions/2018-02-15_22-50-17_0.08814_baseline-script.csv
bike-sharing-demand/submissions/2018-02-13_21-43-46_0.37926_baseline-script.csv
bike-sharing-demand/submissions/2018-02-15_21-35-01_0.36335_baseline-script.csv
bike-sharing-demand/submissions/2018-02-15_21-38-20_0.36335_baseline-script.csv
bike-sharing-demand/submissions/2018-02-15_21-39-25_0.36181_baseline-script.csv
bike-sharing-demand/submissions/2018-02-15_21-48-19_0.36181_baseline-script.csv
bike-sharing-demand/submissions/2018-02-15_22-10-58_0.36181_baseline-script.csv
bike-sharing-demand/submissions/2018-02-15_22-14-41_0.36181_baseline-script.csv
bike-sharing-demand/submissions/2018-02-15_22-16-35_0.08814_baseline-script.csv
bike-sharing-demand/submissions/2018-02-15_22-18-56_0.08791_baseline-script.csv
bike-sharing-demand/submissions/2018-02-15_22-24-55_0.08858_baseline-script.csv
bike-sharing-demand/submissions/2018-02-15_22-35-41_0.08809_baseline-script.csv
bike-sharing-demand/submissions/2018-02-15_22-46-43_0.08797_baseline-script.csv
jigsaw-toxic-comment-classification-challenge/submissions/baseline_20180218_173250_0.98513.csv
jigsaw-toxic-comment-classification-challenge/submissions/baseline_20180218_181131_0.98521.csv
jigsaw-toxic-comment-classification-challenge/submissions/baseline_20180218_185450_0.98528.csv
jigsaw-toxic-comment-classification-challenge/submissions/baseline_20180218_200458_0.98543.csv
jigsaw-toxic-comment-classification-challenge/submissions/baseline_20180218_214020_0.98415.csv
jigsaw-toxic-comment-classification-challenge/submissions/baseline_20180218_220648_0.98545.csv
jigsaw-toxic-comment-classification-challenge/submissions/baseline_20180218_225507_0.98545.csv
jigsaw-toxic-comment-classification-challenge/submissions/baseline_20180218_234730_0.98503.csv
jigsaw-toxic-comment-classification-challenge/submissions/baseline_20180219_214433_0.98545.csv
jigsaw-toxic-comment-classification-challenge/submissions/baseline_20180219_221838_0.98545.csv
jigsaw-toxic-comment-classification-challenge/submissions/baseline_20180220_233955_0.98541.csv
jigsaw-toxic-comment-classification-challenge/submissions/baseline_20180220_235002_0.98060.csv
jigsaw-toxic-comment-classification-challenge/submissions/baseline_20180221_002543_0.98550.csv
